#index {
    background-image: url("https://img.freepik.com/free-vector/geometric-background-concept_23-2148540971.jpg?w=1480&t=st=1679595496~exp=1679596096~hmac=e6eab8d91a48d4fcd2ab965d3b87b099501cbd06e10735f444752cf22d0249b6");
    height:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
    overflow-y: auto;
    overflow-x: hidden;
}

#edit {
    background-image: url("https://img.freepik.com/free-vector/flat-geometric-background_23-2148957201.jpg?w=1380&t=st=1679595568~exp=1679596168~hmac=bfeab886758f6f0dff767f75853aede4e4d8507e03c593c2ebab8df583b51c61");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    overflow-y: hidden;
    overflow-x: hidden;
}

#testing {
    background-image: url("https://celes.club/uploads/posts/2022-05/1653055181_52-celes-club-p-fon-dlya-kviza-krasivie-58.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
    overflow-y: auto;
    overflow-x: hidden;
}

thead th {
    color: white;
    font-size:14pt;
    text-align:left;
}

select {
    width: 100%;
    font-size: 120%;
}

.outer-div {
    position: absolute;
    bottom: 320px;
    width: 100%;
}

.td-edit {
    padding-left: 80px;
}

.th-shift {
    width: 700px;
    margin: 0;
    padding: 0;
    word-break: break-all;
}