<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Информационно-справочная система онлайн-тестирования | Об авторе</title>
    <link type="text/css" rel="stylesheet" href="/css/greeting.css" th:href="@{/css/greeting.css}">
</head>

<body>
<div>
    <h2>Автор информационной системы:
        <br>Кондрашов Дмитрий Михайлович
    </h2>
    <h3>    <i>Студент </i>Финансового университета при правительстве Российской Федерации
        <br><i>Факультета: </i>"Информационные технологии и анализ больших данных"
        <br><i>Направления: </i>"Прикладная информатика"
        <br><i>Группы: </i>"ПИ21-4"
    </h3>
    <p> 
    <br><br><br>
    <br><i>Почта: </i><a href="mailto:213695@edu.fa.ru">213695@edu.fa.ru</a>
    <br><i>VK: </i><a href="https://vk.com/fluir">https://vk.com/fluir</a>
    <br><i>GitHub: </i><a href="https://github.com/Flyer-DM">https://github.com/Flyer-DM</a>
    <br><i>Stepic: </i><a href="https://stepik.org/users/309396219">https://stepik.org/users/309396219</a>
    </p>
</div>
</body>
</html>