<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
  <title>Гистограмма</title>
  <script src="https://www.google.com/jsapi"></script>
</head>
<body>

<table id="1" class="ui-helper-hidden" style="display:none;">
  <thead>
  <tr>
    <th scope="col">ID теста</th>
    <th scope="col">Тема</th>
    <th scope="col">Время начала</th>
    <th scope="col">Время окончания</th>
    <th scope="col">Прохождений</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="test: ${listTests}" class="table-tr">
    <th scope="row" class="table-th" th:text="${test.id}"></th>
    <th scope="row" class="table-th" th:text="${test.topic}"></th>
    <th scope="row" class="table-th" th:text="${test.start_time}"></th>
    <th scope="row" class="table-th" th:text="${test.end_time}"></th>
    <th scope="row" class="table-th" th:text="${test.attempts}"></th>
  </tr>
  </tbody>
</table>
<div class="container">
  <canvas id="hist" width="400" height="200"></canvas>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script type="text/javascript" src="/static/js/histogram.js" th:src="@{/js/histogram.js}"></script>
<a href="/index_teacher">
  <button type="button" class="btn btn-light" data-togge="button" aria-pressed="false">
    Назад
  </button>
</a>
</body>
</html>