<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
  <title>Гистограмма</title>
  <script src="https://www.google.com/jsapi"></script>
</head>
<body>

<table id="1" class="ui-helper-hidden" style="display:none;">
  <thead>
  <tr>
    <th scope="col">ID теста</th>
    <th scope="col">Тема</th>
    <th scope="col">Время начала</th>
    <th scope="col">Время окончания</th>
    <th scope="col">Прохождений</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="test: ${listTests}" class="table-tr">
    <th scope="row" class="table-th" th:text="${test.id}"></th>
    <th scope="row" class="table-th" th:text="${test.topic}"></th>
    <th scope="row" class="table-th" th:text="${test.start_time}"></th>
    <th scope="row" class="table-th" th:text="${test.end_time}"></th>
    <th scope="row" class="table-th" th:text="${test.attempts}"></th>
  </tr>
  </tbody>
</table>
<div class="container">
  <canvas id="hist" width="400" height="200"></canvas>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script type="text/javascript">
  function getRandomInt(min, max) {
    return Math.floor(Math.random() * (max - min)) + min;
  }

  labels = []
  data = []
  let tr = document.getElementsByClassName('table-tr');
  for (let i = 0; i < tr.length; i++) {
    let t = tr[i].getElementsByClassName('table-th')[4].textContent;
    let test_name = tr[i].getElementsByClassName('table-th')[1].textContent;

    if (!labels.includes(t)) {
      let ind = Math.max(labels.length, 0);
      labels[ind] = test_name;
      data[ind] = Number(t);
    } else {
      let ind = labels.indexOf(t);
      data[ind] += t;
    }
  }

  let colors = [];
  for (let i = 0; i < labels.length; i++) {
    let temp = 'rgba(' + getRandomInt(0, 256) + ', ' + getRandomInt(0, 256) + ', ' + getRandomInt(0, 256) + ', 1)';
    while (colors.includes(temp)) {
      temp = 'rgba(' + getRandomInt(0, 256) + ', ' + getRandomInt(0, 256) + ', ' + getRandomInt(0, 256) + ', 1)';
    }

    colors[i] = temp;
  }

  let dataset = {
    label: 'Количество прохождений',
    data: data,
    backgroundColor: colors,
    borderWidth: 1,
  }

  Chart.defaults.global.defaultFontColor='white';

  let ctx = document.getElementById('hist').getContext('2d');
  let myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: labels,
      datasets: [dataset],
    },
    options: {
      legend: {
        display: false,
      },
      title: {
        display: true,
        text: 'Статистика по тестам',
        position: 'top',
        fontSize: 24,
        padding: 20,
        fontColor: "black",
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero:true,
            stepSize: 1,
          },
          scaleLabel: {
            display: true,
            labelString: 'Количество прохождений',
            fontSize: 18,
            fontColor: "black"
          },
        }],
        xAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'Тест',
            fontSize: 18,
            fontColor: "black"
          },
        }],
      },
    },
  });
</script>
<a href="/index">
  <button type="button" class="btn btn-light" data-togge="button" aria-pressed="false" autocomplete="off">
    Назад
  </button>
</a>
</body>
</html>